body {
  background-color: black;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
  text-align: center;
}



tbody{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

tr:first-child, tr:last-child, 
td:first-child, td:last-child{
  background-color: rgb(122, 53, 53);
}

tr:not(:nth-child(1),:last-child) {
  background-color: rgb(135, 121, 138);
}

tr:nth-child(6) td:nth-child(4),
tr:nth-child(7) td:nth-child(4),
tr:nth-child(8) td:nth-child(4){
  background-color: rgb(122, 53, 53);
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.modal{
  /* background-color: red; */
  border-radius: 10px;
  text-align: center;
  /* padding: 3em; */
  height: 30%;
  width: 30%;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal button{
  background-color: rgb(139, 222, 224);
  border: black 4px solid;
  border-radius: 3px;
  font-weight: bold;
  padding: 0.5em;
}


/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */